<h1>Portofolio Items</h1>

<%= link_to "Create New Item", new_portfolio_path %>

<% @portfolio_items.each do |portfolio_items| %>
  <p><%= link_to portfolio_items.title, portfolio_path(portfolio_items.id) %></p> #Rails knows that id is required so it is common not to type it here.
                                                                                  #I left it in so that I would understand
  <p><%= portfolio_items.subtitle %></p>
  <p><%= portfolio_items.body %></p>
  <%= image_tag portfolio_items.thumb_image unless portfolio_items.thumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(portfolio_items.id) %> 

<% end %>